* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100%;
}

.topNav {
  display: flex;
  background-color: rgb(34, 0, 0);

  & a {
    font-size: 2rem;
    text-decoration: none;
    color: aliceblue;
    padding: 10px 20px;

    &:hover {
      background-color: rgb(78, 45, 45);
    }
  }


}

.topNav .icon {
  float: right;
  right: 0;
  top: 0;
  display: none;
  position: absolute;
}

.content {
  padding: 20px 30px;

  & p {
    margin-top: 20px;
  }
}

.topNav .active {
  background-color: rgb(1, 125, 9);
}


@media screen and (max-width:600px) {
  .topNav a:not(:first-child) {
    display: none;
  }

  .topNav a.icon {
    display: block;
    float: right;
  }
}

@media screen and (max-width:600px) {
  .topNav.responsive {
    flex-direction: column;
  }

  .topNav.responsive a {
    display: block;
    float: none;
  }
}